In [1]:
"""
author Daniel
"""
from pandas import read_csv
import numpy as np
from pandas.plotting import scatter_matrix
from matplotlib import pyplot
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from io import StringIO
from sklearn import linear_model
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

print("Name: Daniel Ashcroft \nStudent ID: r00168428")
#Note: Not all the libararies above are necessarily needed for this project and not all 
#the libraries you need for this project are necessarily listed above.


""" Your Name and Your student ID: 
Daniel Ashcroft
r00168428
"""

Name: Daniel Ashcroft
Student ID: r00168428

' Your Name and Your student ID: \nDaniel Ashcroft\nr00168428\n'

In [11]:

# def task1():
#     print("--------task1--------")
#     bank = pd.read_csv("bank.csv")
#     task1_dataset1_csv_file_name = "task1_dataset1.csv"
#     task1_dataset2_csv_file_name = "task1_dataset2.csv"
#     # creates and saves the first data set
# #     dataset1 = bank[["age","job","poutcome","balance","default","y"]]  
# #     dataset1.to_csv(task1_dataset1_csv_file_name)
# #     print("dataset1 saved to file as", task1_dataset1_csv_file_name)

#     # creates and saves the second data set
# #     dataset2 = bank[["age","job","poutcome","balance","default","loan"]]
# #     dataset2.to_csv(task1_dataset2_csv_file_name)
# #     print("dataset2 saved to file as", task1_dataset2_csv_file_name)
    
    
    
#     dataset1 = pd.read_csv(task1_dataset1_csv_file_name)
#     print(dataset1)
#     dataset2 = pd.read_csv(task1_dataset2_csv_file_name)
#     print(dataset2)
    
# #     Xdateset1 = dataset1.loc[:, dataset1.columns != 'y']
#     Xdataset1_catg_cols = ["job","poutcome","default"]
#     Xdataset1_cols = ["age","job","poutcome","balance","default"]
# #     Xdateset1_catg_cols = dataset1[dataset1_catg_cols]
#     Xdateset1 = dataset1[Xdataset1_cols]
    
#     le = LabelEncoder()
    
#     # this will encode the data from the columns with categorical data
#     Xdateset1[Xdataset1_catg_cols] = Xdateset1[Xdataset1_catg_cols].apply(lambda col: le.fit_transform(col))
#     ydataset1 = dataset1['y']
#     print(Xdateset1)
#     print(ydataset1)
    
#     Xdateset100 = Xdateset1
    
#     clf = SVC()
#     clf.set_params(kernel='linear')
#     print("type(Xdateset1.head(5):",type(Xdateset1.head(5)))
    
#     clf.fit(Xdateset1.head(100),ydataset1.head(100))
    
#     myclf =clf
    
    
#     print("end task1")
# #     myclf = clf
# #     print(clf.predict(Xdateset1.head()))
    
    
    
    
    
# task1()

# print(myclf)

--------task1--------
       Unnamed: 0  age           job poutcome  balance default    y
0               0   58    management  unknown     2143      no   no
1               1   44    technician  unknown       29      no   no
2               2   33  entrepreneur  unknown        2      no   no
3               3   47   blue-collar  unknown     1506      no   no
4               4   33       unknown  unknown        1      no   no
...           ...  ...           ...      ...      ...     ...  ...
45206       45206   51    technician  unknown      825      no  yes
45207       45207   71       retired  unknown     1729      no  yes
45208       45208   72       retired  success     5715      no  yes
45209       45209   57   blue-collar  unknown      668      no   no
45210       45210   37  entrepreneur    other     2971      no   no

[45211 rows x 7 columns]
       Unnamed: 0  age           job poutcome  balance default loan
0               0   58    management  unknown     2143      no   no
1               1   44    technician  unknown       29      no   no
2               2   33  entrepreneur  unknown        2      no  yes
3               3   47   blue-collar  unknown     1506      no   no
4               4   33       unknown  unknown        1      no   no
...           ...  ...           ...      ...      ...     ...  ...
45206       45206   51    technician  unknown      825      no   no
45207       45207   71       retired  unknown     1729      no   no
45208       45208   72       retired  success     5715      no   no
45209       45209   57   blue-collar  unknown      668      no   no
45210       45210   37  entrepreneur    other     2971      no   no

[45211 rows x 7 columns]
       age  job  poutcome  balance  default
0       58    4         3     2143        0
1       44    9         3       29        0
2       33    2         3        2        0
3       47    1         3     1506        0
4       33   11         3        1        0
...    ...  ...       ...      ...      ...
45206   51    9         3      825        0
45207   71    5         3     1729        0
45208   72    5         2     5715        0
45209   57    1         3      668        0
45210   37    2         1     2971        0

[45211 rows x 5 columns]
0         no
1         no
2         no
3         no
4         no
        ...
45206    yes
45207    yes
45208    yes
45209     no
45210     no
Name: y, Length: 45211, dtype: object
type(Xdateset1.head(5): <class 'pandas.core.frame.DataFrame'>

C:\Users\Dashc\Anaconda3\envs\tensorflow\lib\site-packages\pandas\core\frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

end task1
SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [108]:

def task1():
    """
    Th
    
    """
    print("--------task1--------")
    bank = pd.read_csv("bank.csv")
    task1_dataset1_csv_file_name = "task1_dataset1.csv"
    task1_dataset2_csv_file_name = "task1_dataset2.csv"
    
    
    # creates and saves the first data set

    #     dataset1 = bank[["age","job","poutcome","balance","default","y"]]  
    #     dataset1.to_csv(task1_dataset1_csv_file_name)
    #     print("dataset1 saved to file as", task1_dataset1_csv_file_name)

    # creates and saves the second data set
    
    #     dataset2 = bank[["age","job","poutcome","balance","default","loan"]]
    #     dataset2.to_csv(task1_dataset2_csv_file_name)
    #     print("dataset2 saved to file as", task1_dataset2_csv_file_name)

    
    

    #gets the data and shows it
    dataset1 = pd.read_csv(task1_dataset1_csv_file_name)
    print("data set1:\n",dataset1)
    dataset2 = pd.read_csv(task1_dataset2_csv_file_name)
    print("\n\ndata set2 (same as the 1):\n",dataset2)

    #which columns are categorical
    Xdataset_catg_cols = ["job","poutcome","default"]
    # all columns
    Xdataset_cols = ["age","job","poutcome","balance","default"]
    X = dataset1[Xdataset_cols]

    # this will encode the data from the columns with categorical data
    le = LabelEncoder()
    X[Xdataset_catg_cols] = X[Xdataset_catg_cols].apply(lambda col: le.fit_transform(col))

    # data set 1s y class atribute
    ydataset1 = dataset1['y']
    
    print("\n\nOur data set X value encoded:\n",X)
    print("\nOur y class atribute:\n",ydataset1)

    # using svm for classification algorithm
    clf_y = SVC()
    clf_y.set_params(kernel='linear')

    clf_y.fit(X.head(100),ydataset1.head(100))

    y_predictions = clf_y.predict(X.head(100000))
    y_predictions_as_series = pd.Series(y_predictions)
    test_labels = ydataset1.head(100000)

    res1 = accuracy_score(test_labels, y_predictions_as_series)
    print("\n\naccuracy_score for SVM with first data set:\n",res1)
    #it only gives  NOs
    
    

    print("--------end task1--------")






task1()

--------task1--------
data set1:
        Unnamed: 0  age           job poutcome  balance default    y
0               0   58    management  unknown     2143      no   no
1               1   44    technician  unknown       29      no   no
2               2   33  entrepreneur  unknown        2      no   no
3               3   47   blue-collar  unknown     1506      no   no
4               4   33       unknown  unknown        1      no   no
...           ...  ...           ...      ...      ...     ...  ...
45206       45206   51    technician  unknown      825      no  yes
45207       45207   71       retired  unknown     1729      no  yes
45208       45208   72       retired  success     5715      no  yes
45209       45209   57   blue-collar  unknown      668      no   no
45210       45210   37  entrepreneur    other     2971      no   no

[45211 rows x 7 columns]


data set2 (same as the 1):
        Unnamed: 0  age           job poutcome  balance default loan
0               0   58    management  unknown     2143      no   no
1               1   44    technician  unknown       29      no   no
2               2   33  entrepreneur  unknown        2      no  yes
3               3   47   blue-collar  unknown     1506      no   no
4               4   33       unknown  unknown        1      no   no
...           ...  ...           ...      ...      ...     ...  ...
45206       45206   51    technician  unknown      825      no   no
45207       45207   71       retired  unknown     1729      no   no
45208       45208   72       retired  success     5715      no   no
45209       45209   57   blue-collar  unknown      668      no   no
45210       45210   37  entrepreneur    other     2971      no   no

[45211 rows x 7 columns]


Our data set X value encoded:
        age  job  poutcome  balance  default
0       58    4         3     2143        0
1       44    9         3       29        0
2       33    2         3        2        0
3       47    1         3     1506        0
4       33   11         3        1        0
...    ...  ...       ...      ...      ...
45206   51    9         3      825        0
45207   71    5         3     1729        0
45208   72    5         2     5715        0
45209   57    1         3      668        0
45210   37    2         1     2971        0

[45211 rows x 5 columns]

Our y class atribute:
 0         no
1         no
2         no
3         no
4         no
        ...
45206    yes
45207    yes
45208    yes
45209     no
45210     no
Name: y, Length: 45211, dtype: object

C:\Users\Dashc\Anaconda3\envs\tensorflow\lib\site-packages\pandas\core\frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

accuracy_score for SVM with first data set:
 0.8829709583950809
--------end task1--------

In [113]:
ydataset2 = dataset2['loan']

clf_loan = SVC()
clf_loan.set_params(kernel='linear')
clf_loan.fit(X.head(100),ydataset2.head(100))
loan_predictions = clf_y.predict(X.head(100000))
loan_predictions_as_series = pd.Series(loan_predictions)

test_labels = ydataset2.head(100000)

res1 = accuracy_score(test_labels, loan_predictions_as_series)
print("\n\naccuracy_score for SVM with first data set:\n",res1)

#0.8829709583950809 is less than 0.8398177434695097
# class attribute with y has a higher accuracy score

accuracy_score for SVM with first data set:
 0.8398177434695097

0.8829709583950809